TEST_POSTGRES_DB='teststand'
TEST_POSTGRES_USER='teststand'
TEST_POSTGRES_PASSWORD='teststand'


WAF_CONFIG_PATH='/app/config.yaml'
WAF_POSTGRES_PORT="5432"
WAF_POSTGRES_HOST='waf-postgres'
WAF_POSTGRES_PORT="5432"
WAF_POSTGRES_DB='waf'
WAF_POSTGRES_USER='waf'
WAF_POSTGRES_PASSWORD='waf_secret'
WAF_POSTGRES_SSL_MODE='disable'